/*---------- МОДАЛЬНЫЕ ОКНА ----------*/
.modal{
position:fixed;
	height: 100%;
	width: 100%;
	z-index:10;
	left:0;
	top:0;
	overflow: auto;
	background: #F7F9FB;
}


/* ГЛАВНОЕ МЕНЮ ->>> */
.menuCover{
	position:relative;
	height: auto;
	width: 300px;
	margin-top: 80px;
	margin-left: calc(50% - 150px);
	overflow: hidden;
}



.menuItem{
	position: relative;
	height: 76px;
	width: 200px;
	float: left;
	padding-left: 100px;
	margin-bottom: 24px;
	color:#3C82F0;
	font: normal bold 24px/36px serif;
	cursor: pointer;
}
.menuItem:hover{text-decoration:underline;}

	.login:before, .register:before, .about:before{
		position: absolute;
		z-index: 999;
		top:0px;
		left:0px;
		content: "";
		display:inline-block;
		height: 72px;
		width: 72px;
		border: 2px solid #3C82F0;
		border-radius: 50%;
	}
	.login:before{
		background: url(../images/icons.png) 0px -936px;
		background-size: 100% auto;
	}
	.register:before{
		background: url(../images/icons.png) 0px -1014px;
		background-size: 100% auto;
	}
	.about:before{
		background: url(../images/icons.png) 0px -1092px;
		background-size: 100% auto;
	}
	.social{
		display: inline-block;
		height: 72px;
		width: 72px;
		margin:10px;
		border:2px solid #3C82F0;
		border-radius: 18px;
	}
		.social:hover{
			transform: scale(1.1);
			}

		.fb{
			background: url(../images/icons.png) 0px -1170px;
			background-size: 100% auto;
		}
		.in{
			background: url(../images/icons.png) 0px -1248px;
			background-size: 100% auto;
		}
		.tw{
			background: url(../images/icons.png) 0px -1326px;
			background-size: 100% auto;
		}

/* <<<- ГЛАВНОЕ МЕНЮ */

	.searchCategory{
				overflow: hidden;
				height: auto;
				width: 100%;
				margin: 5px 0px;
				background: #fff;
				padding: 5px;
				clear: both;
				border-top:1px solid #e6e6e6;
				border-bottom:1px solid #e6e6e6;
			}
			.searchCategory label{
				overflow: hidden;	
				float: left;	
				margin: 3px;
			}


/*---------- ДАННЫЕ ЗАКАЗА ----------*/
.modalOffer{
	position:relative;
	margin-left:calc(50% - 150px);
	margin-top:80px;
	height:auto;
	width:300px;
	overflow:hidden;
	font-size:1em;
	color:#99AFBF;
}
.modalOffer label{margin:15px 5px;}
.minOrder{color: red; font-style: italic;font-size:.875em;}
.freeDelivery{color: green; font-style: italic;font-size:.875em;}
.minOrder:before{content: "минимальный заказ от ";}
.freeDelivery:before{content: "бесплатная доставка от ";}
.priceDelivery:after, .minOrder:after, .freeDelivery:after{content: " грн";}

.shop .typeOrder:before{content: "Самовывоз с магазина ";}
.shop .priceDelivery{display:none;}
.shop .minOrder{display:none;}
.shop .freeDelivery{display:none;}

.express .typeOrder:before{content: "Экспресс доставка ";}
.today .typeOrder:before{content: "Доставка на сегодня";}
.tomorrow .typeOrder:before{content: "Доставка на завтра "}

.country .typeOrder:before{content: "Пересылка по Украине "}
.country .priceDelivery{display:none;}

.free .typeOrder:after{
	content: " бесплатно";
	border-radius:12px;
	color:#fff;
	background:#3c82f0;
	padding:0px 8px;
}
.free .priceDelivery{display:none;}
.free .minOrder{display:none;}
.free .freeDelivery{display:none;}

.on .minOrder{display:none;}

.off .typeOrder:after{text-decoration:line-through;}
.off .freeDelivery{display:none;}
.modalOffer input[type="button"]{margin:20px auto;width:144px;}
.modalOffer input[type="text"]{margin:10px auto;width:288px;}
