/*---------- КАРТОЧКА ПРЕДЛОЖЕНИЯ ----------*/
.Offer{
	height:auto;width:300px;	
	margin:5px auto;
	overflow:hidden;
	font-weight: normal;
	border:1px solid #e6e6e6;
	background:#fff;
}
	.Offer:hover{border-color:#3c82f0;}

	.tpOffer{ /*(online/offline)*/
		height:36px;
		width:290px;
		margin:5px auto;
		color:#235A96;
	}
		.tpOffer span.tpSeller{
			display: inline-block;
			position: relative;
			padding-left: 36px;
		}
			.tpOffer span.tpSeller:before{
				display:inline-block;
				position: absolute;
				height: 36px;
				width: 36px;
				top:0px;
				left:0px;
				content: " ";
			}
			.tpOffer span.tpSeller:after{
				display:inline-block;
				font-size:1em;
				line-height:36px;
				float: left;
			}
			.tpOffer.online span.tpSeller:before{background: url(../images/icons.png) 0px -741px;background-size: 100% auto;}
			.tpOffer.online span.tpSeller:after{content:"Интернет Магазин";}

			.tpOffer.offline span.tpSeller:before{background: url(../images/icons.png) 0px -702px;background-size: 100% auto;}
			.tpOffer.offline span.tpSeller:after{content:"Зоомагазин";}
	.slRate{
		position: relative;
		width:72px;
		height:14px;
		float: right;
		margin:4px 10px 0px 0px;
		background: url(../images/icons.png) 0px -4056px;
	}
		.slRate div {
			height: 100%;
			background: url(../images/icons.png) -72px -4056px;
			
		}
	.slRate span.rating{
		position: absolute;
		top:14px;
		width:82px;
		font-size:.875em;
		font-weight: bolder;
	}
	.slRate span.rating:before{
		content: "рейтинг ";
		font-size:.75em;
		font-weight: normal;
	}
	.slRate span.rating:after{
		content: "%";
	}

	.lcOffer,.ttOffer{
		position:relative;
		height:24px;
		width:262px;
		padding-left:28px;
		margin:2px auto;
		font-size:.875em;
		line-height:24px;
		color:#235A96;
	}
		.lcOffer:before, .ttOffer:before{
			position: absolute;
			top:0px;
			left:0px;
			content: "";
			display:inline-block;
			height: 24px;
			width: 24px;
		}
		.lcOffer span,.ttOffer span{
			display:inline-block;
		}
			.lcOffer.near:before{background: url(../images/icons.png) 0px -520px;background-size: 100% auto;}
			.lcOffer.near span.dist:before{content:"От Вас ";}
			.lcOffer.near span.dist:after{content:" метра";}
			.lcOffer.near span.city{display:none;}

			.lcOffer.city:before{background: url(../images/icons.png) 0px -546px;background-size: 100% auto;}
			.lcOffer.city span.dist{display:none;}
			.lcOffer.city span.city:before{content:"г. ";}
			
			.lcOffer.country:before{background: url(../images/icons.png) 0px -572px;background-size: 100% auto;}
			.lcOffer.country span.dist{display:none;}
			.lcOffer.country span.city:before{content:"Украина, г. ";}
			

	.ttOffer{
		font-style:italic;
		border-bottom:1px solid #e6e6e6;
		background-size:  24px 24px;
	}
		.ttOffer:before{background: url(../images/icons.png) 0px -598px;background-size: 100% auto;}
		.ttOffer span{font-weight:bold;}
		.ttOffer span.from:before{content:"Работаем сегодня: c ";font-weight:normal;}
		.ttOffer span.to:before{content:" до ";font-weight:normal;}

	.prOffer{
		width:290px;
		margin:0px auto;
		border-bottom:1px solid #e6e6e6;
		overflow:hidden;
	}
		.prOffer.zero{opacity:0.05;}
		.phProduct{
			height:36px;
			width:36px;
			margin:2px;
			float:left;
		}
		.nmProduct{
			height:40px;
			width:250px;
			float:left;
			font-size:.75em;
			line-height:20px;
			color:666666;
		}
		.pcProduct{
			height:40px;
			width:290px;
			float:left;
			text-align:center;
			font-weight:bold;
			color:#235A96;
		}
			.pcProduct span.price{
				display:block;
				height:36px;
				width:81px;
				float:left;
				margin:2px;
				line-height:2.25em;
			}
				.pcProduct span.price:after{content:" грн"; font-size:.625em;}

			.pcProduct span.qtty{
				display:block;
				float:left;	
				height:32px;
				width:32px;
				margin:2px;
				line-height:2em;
				border:2px solid #3c82f0;
				border-radius:50%;
			}

			.btnMinus, .btnPlus{
				height:30px;
				width:30px;
				float:left;
				margin:5px;
				cursor:pointer;
			}
				.btnMinus:before,.btnPlus:before,.btnPlus:after{
					display:block;
					content:" ";
					border-radius:3px;
					background:#3c82f0;
			}
				.btnMinus:before,.btnPlus:before{
					height:6px;
					width:30px;
					margin:12px 0px 0px 0px;
				}
				.btnPlus:after{
					height:30px;
					width:6px;
					margin:-18px 0px 0px 12px;
				}
		.tlOffer{
			position: relative;
			height:40px;
			width:290px;
			margin: 0px auto;
		}
		.tlOffer span{
			position:absolute;
			right:10px;
		}
			.tlOffer span.old{
				display:none;
				top:0px;
				color:#99AFBF;
				text-decoration:line-through;
				font-size:1em;
				line-height:18px;
			}
				.tlOffer span.old:after,.tlOffer span.new:after{content: " грн";font-size:.875em;}
			.tlOffer span.new{
				display:block;
				top:18px;
				font-size:1em;
				line-height:22px;
				color:#235A96;
			}
				.tlOffer span.new:before{content: "Сумма заказа: ";}

					.tlOffer.discount span.old{display:block;}
					.tlOffer.discount span.new{color:green;}
					.tlOffer.discount span.new:before{content:"Сумма со скидкой: ";}
			.Offer input[type="button"]{margin:5px auto;width:144px;}
/*---------- КАРТОЧКА ПРЕДЛОЖЕНИЯ ----------*/