﻿/* Глобальные стили - НАЧАЛО */
html{background:url(../images/bg.jpg) no-repeat; background-size:100%;}
	body{
		font-family:'Roboto',sans-serif;
		color:#565656;
		font-size:100%;
	}
		a{text-decoration:none;}
		h1{font-size:22px; text-align:center; margin:0;}
		h2{
			margin:5px;
			padding:0;
			border:0;
			outline:0;
			font-weight:bold;
			overflow:hidden;
			font-size: 18px;
		}
		p{font-size:16px; line-height:1.6; margin:10px 5px 10px 5px;}
		h3, h4, h5, h6{
			margin:0;
			padding:0;
			border:0;
			outline:0;
			font-weight:normal;
			overflow:hidden;
		}

		h3{font-size:15px;}
		h4{font-size:14px;}
		h5{font-size:13px;}
		h6{font-size:12px;}
		div{overflow:hidden;}
		form{display:block}
		img{display:block;}
		hr{margin:5px; clear:both;}
		#map{width:100%; height:100%;}
			#map div{overflow:visible;}

/* Глобальные стили - КОНЕЦ */










.header, .content, .info-top, .info-bottom, .menu{
	position:absolute;
	left:0px;
	right:0px;
	min-width:320px;
}










/* Header - НАЧАЛО */
.header{
	top:0px;
	height:50px;
}
	.header ul{
		display:block;
		height:40px;
		margin:5px;
		list-style:none;
		color:#666666;
		cursor:pointer;
	}
		.header ul.logo{width:200px; float:left; padding:0px; background:url(../images/logo_max.png) no-repeat;}
			@media (max-width: 490px) {.header ul.logo{background:url(../images/logo_mini.png) no-repeat; width: 40px;}}
		.header ul.catalog, .header ul.cart, .header ul.orders, .header ul.catalog, .header ul.users{
			width:60px;
			float:right;
			padding:0px 0px 0px 40px;
		}
		.header ul.catalog{background:url(../images/icon-catalog-gray.png) no-repeat;}
		.header ul.catalog.active{color:#165945;background:url(../images/icon-catalog-green.png) no-repeat;}
		.header ul.orders{background:url(../images/icon-order-gray.png) no-repeat;}
		.header ul.orders.active{color:#165945;background:url(../images/icon-order-green.png) no-repeat;}
		.header ul.users{background:url(../images/icon-users-gray.png) no-repeat;}
		.header ul.users.active{color:#165945;background:url(../images/icon-users-green.png)no-repeat;}
		.header ul.cart{background:url(../images/icon-cart-gray.png) no-repeat;}
		.header ul.cart.active{color:#165945;background:url(../images/icon-cart-green.png)no-repeat;}
		.header li .counter{
			display:inline-block;
			height:20px;
			min-width:20px;
			line-height:20px;
			text-align:center;
			border-radius:10px;
			background:#666666;
			color:#ffffff
		}
			.header .active li .counter{background:#165945;}
		.header li h4{font-weight:bold;}	

	.btn-menu, .btn-exel-open, .btn-exel-upload, .btn-exel-download{
		height:40px;
		width:40px;
		float:right;
		margin:5px;
		cursor:pointer;
		border:none;
	}
	.btn-menu{background: url(../images/icon-menu-gray.png);}
		.btn-menu:hover{background: url(../images/icon-menu-green.png);}
	.exel-open{position:absolute;height:40px;width:40px;top:0;opacity:0;cursor:pointer;}	
		.btn-exel-open{background: url(../images/icon-exel-open-gray.png); position: relative;}
			.btn-exel-open:hover{background: url(../images/icon-exel-open-green.png);}
	.btn-exel-upload{background: url(../images/icon-exel-upload-gray.png);}
		.btn-exel-upload:hover{background: url(../images/icon-exel-upload-green.png);}
	.btn-exel-download{background: url(../images/icon-exel-download-gray.png);}
		.btn-exel-download:hover{background: url(../images/icon-exel-download-green.png);}
/* Header - КОНЕЦ */










/* Content - НАЧАЛО */
.content{
	top: 50px;
	bottom: 0px;
	overflow-y:auto;
}
	.more{color:#DD426E; font-style:italic;}
		.more:hover{color:#D80044; border-bottom:1px solid #D80044;}
	.alarm{
		width: 300px;
		padding: 9px;
		margin:0% auto;
		background:rgba(29, 89, 69, 0.7);
		border: 1px solid #ffffff;
		border-radius: 10px;
		line-height:25px;
		text-align:center;
		color:#ffffff;
	}
	.btn-search, .btn-confirm, .btn-confirm-off, .btn-cancel, .sms-confirm, .sms-resend, .btn-cart, .btn-remove{
		display:block;
		height:72px;
		width:72px;
		border:none;
		border-radius:36px;
	}
	.btn-cart{
		margin: 5px 14px 5px 14px;
		background: url(../images/btn-cart-normal.png);
	}
		.btn-cart:hover{background: url(../images/btn-cart-hover.png);}
	.btn-remove{
		margin: 5px 14px 5px 14px;
		background: url(../images/btn-cancel-red-normal.png);
	}
		.btn-remove:hover{background: url(../images/btn-cancel-red-hover.png);}
	.info-top{
		top:0px;
		height:70px;
		padding-top:10px;
		z-index:2;
	}
	.info-bottom{
		bottom:0px;
		height:80px;
		padding-bottom:20px;
		z-index:2;
	}
		.info-bottom .cover{
			height:80px;
			width:200px;
			margin:0px auto;
		}
		.info-bottom .btn-search{background: url(../images/btn-search-normal.png); float: left;}
			.info-bottom .btn-search:hover{background: url(../images/btn-search-hover.png);}	
		.info-bottom .btn-confirm{background: url(../images/btn-confirm-green-normal.png); float: right;}
			.info-bottom .btn-confirm:hover{background: url(../images/btn-confirm-green-hover.png);}
		.info-bottom .btn-confirm-off{background: url(../images/btn-confirm-gray.png); float: right;}

	.cover{
		height:auto;
		width:600px;
		margin:10px auto;
		clear:both;
	}
		.settings .btn-confirm{background: url(../images/btn-confirm-green-normal.png); margin:5px auto;}
			.settings .btn-confirm:hover{background: url(../images/btn-confirm-green-hover.png);}
		@media (max-width: 625px) {.cover{width: 300px;}}
	.cell{
		height:auto;
		width:12.5%;
		float:left;
	}
		@media (max-width:2340px) {.cell{width:14.28%;}}
		@media (max-width:2040px) {.cell{width:16.66%;}}
		@media (max-width:1740px) {.cell{width:20%;}}
		@media (max-width:1540px) {.cell{width:25%;}}
		@media (max-width:1240px) {.cell{width:33.33%;}}
		@media (max-width:940px) {.cell{width:50%;}}
		@media (max-width:640px) {.cell{width:100%;}}



	.area-price{
		display: block;
		height: 36px;
		width: 86px;
		float: left;
		margin: 32px 5px 5px 5px;
		border: 1px solid #a0a0a0;
		border-radius: 0px;
		line-height: 36px;
		font-size: 14px;
		text-align: center;
		color: #565656;
		background: #ffffff;
	}











/* Content - КОНЕЦ */










/* Menu - НАЧАЛО */
.menu{
	z-index:3;
	top:0px;
	bottom:0px;
	overflow-y:auto;
	background:rgba(0, 0, 0, 0.8);
}
	.menu ul{
		position:absolute;
		top:10%;
		display:block;
		height:90%;
		width:100%;
		padding:0;
		margin:0 auto;
		list-style:none;
		font-size:42px;
		text-align:center;
	}
		.menu ul li{
			display:block;
			height:16.5%;
		}
			.menu ul li a{
				font-family: 'Playfair Display SC', serif;
				color:#bcbcbc;
				-webkit-transition:color 0.6s;
				transition:color 0.6s;
			}
				.menu ul li a:hover,.menu ul li a:focus{
					color:#ffffff;
					border-bottom:2px solid #ffffff;
				}
		.menu ul img{
			display:inline-block;
			height:40px;
			width:40px;
			margin:10px;
			border-radius:5px;
		}
			.menu ul img:hover{height:50px;width:50px;margin:5px;}
	.menu .content{
		height:160%;
		width:320px;
		margin:1% auto;
	}
		.menu .content .cover{
			width:300px;
			padding:9px;
			border-radius: 10px;
			border:1px solid #ffffff;
		}
	.menu .btn-confirm{background: url(../images/btn-confirm-white-normal.png); float:right; margin:5px;}
		.menu .btn-confirm:hover{background: url(../images/btn-confirm-white-hover.png);}
	.menu .btn-cancel{background: url(../images/btn-cancel-white-normal.png);  float:left; margin:5px;}
		.menu .btn-cancel:hover{background: url(../images/btn-cancel-white-hover.png);}
	.menu .sms-confirm{background: url(../images/btn-confirm-white-normal.png); margin:5px auto;}
		.menu .sms-confirm:hover{background: url(../images/btn-confirm-white-hover.png);}
	.menu .sms-resend{background: url(../images/btn-resend-normal.png);margin:5px auto;}
		.menu .sms-resend:hover{background: url(../images/btn-resend-hover.png);}
/* Menu - КОНЕЦ */









.border-white, .border-green, .border-red {
	border-radius:5px;
}
.border-white {
	border:1px solid #165945;
	/*background: rgba(255, 255, 255, 0.6);*/
}
.border-green {
	border:1px solid #165945;
	background: rgba(0, 200, 0, 0.1);
}
.border-red {
	border:1px solid #510A19;
	background: rgba(80, 10, 25, 0.1)
}
/* Границы блоков - КОНЕЦ*/
/* Обложка - НАЧАЛО*/

/* Обложка - КОНЕЦ*/
.item{
	width: 300px;
	border: 1px solid #A0A0A0;
	background: rgba(255, 255, 255, 0.7);
	margin: 9px auto;
}
.item:hover{border-color: #165945;}
.item .present {
	background: rgba(0, 200, 0, 0.1);
	color: #565656;
}
.item img{
	margin: 5px;
	height: 90px;
	width: 90px;
	float:left;
}
.product, .descript, .barcode{
	width: 195px;
	float: right;
}
.product{
	height: 60px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	margin: 5px 5px 5px 0px;
	border-bottom: 1px solid #A0A0A0;
}
.descript{
	height: 120px;
	line-height: 15px;
	margin: 0px 5px 7px 0px;
}
.barcode{
	height: 15px;
	line-height: 15px;
	font-style: italic;
	font-weight: bold;
	margin: 5px 5px 5px 0px;
}
.barcode:before {
	content: "Штрих-код: ";
}
.shop{
	width: 290px;
	margin: 0px 5px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
}
.work, .delivery, .name, .phone, .email, .short-address, .full-address{
	width: 265px;
	padding-left: 25px;
	margin: 0px 5px;
}
.user-id, .date, .number{
	width: 115px;
	padding-left: 25px;
	margin: 0px 5px;
	font-weight: bold;
}
.work, .delivery, .name, .phone, .email, .user-id, .date, .number, .short-address, .full-address{
	line-height: 25px;
	float: left;
	overflow: hidden;
}
.work{background:url(../images/icon_time.png) no-repeat; height: 25px;}
.delivery{background:url(../images/icon_delivery.png) no-repeat; height: 25px;}
.name{background:url(../images/icon_name.png) no-repeat; height: 25px;}
.phone{background:url(../images/icon_phone.png) no-repeat; height: 25px;}
.email{background:url(../images/icon_email.png) no-repeat; height: 25px;}
.short-address{background:url(../images/icon_address.png) no-repeat; height: 25px;}
.full-address{background:url(../images/icon_address.png) no-repeat; height: 75px;}

.user-id{background:url(../images/icon_id.png) no-repeat;}
.date{background:url(../images/icon_time.png) no-repeat;}
.number{background:url(../images/icon_number.png) no-repeat;}
.info{
	float: left;
	height: 20px;
	width: 100px;
	text-align: center;
	color: #165945;
}
.list{
	width: 290px;
	margin: 5px;
	border-bottom: 1px dotted #165945;
	color: #cdcdcd;
}
.list img{
	height: 38px;
	width: 38px;
	float:left;
	margin: 1px;
}
.list-product{
	height: 30px;
	width: 228px;
	line-height: 15px;
	margin: 5px 5px 5px 5px;
	float:right;
}
.price{
	height: 26px;
	line-height: 20px;
	width: 106px;
	float: left;
	text-align: center;
	font-weight: bold;
}
.price:after{
	content: " грн";
	font-size: 60%;
}
.list .qtty, .qtt{
	height: 24px;
	width: 24px;
	float: left;
	line-height: 24px;
	text-align: center;
	border-radius:12px;
	background: #a0a0a0;
	color: #ffffff;
}
.list.present .qtty {
	background: #165945;
}
.qtty{margin: 1px;}
.qtt{margin: 1px 27px;}
.button-minus, .button-plus{
	height: 24px;
	width: 24px;
	border: none;
	float: left;
	margin: 1px;
}
.button-minus{background: url(../images/btn-minus-gray.png);}
.list.present .button-minus{background: url(../images/btn-minus.png);}
.button-plus{background: url(../images/btn-plus-gray.png);}
.list.present .button-plus{background: url(../images/btn-plus.png);}
.total{
	height: 26px;
	line-height: 20px;
	width: 184px;
	float: left;
	font-weight: bold;
	padding-left: 5px;
}
.total:after{content: ":";}
.new{background: rgba(0, 200, 0, 0.1);}
.old{color: #C0C0C0;}
.content-hidden{
	height:0px;
	width:0px;
}
.content-visible{
	height:auto;
	width:100%;
}
/* Кнопки, поля, списки - НАЧАЛО*/
.left, .center{
	display: block;
}
.left{
	float: left;
	margin: 5px;
}
.center{
	clear: both;
	margin: 5px auto;
}
.btn-large-green, .btn-large-red{
	height: 40px;
	width: 290px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border:none;
	border-radius: 0px;
}
.btn-large-green{
	color: #165945;
	background:url(../images/btn-l-green.png) no-repeat;
}
.btn-large-green:hover{
	color: #ffffff;
	background:url(../images/btn-l-green-active.png) no-repeat;
}
.btn-large-red{
	color: #510A19;
	background: url(../images/btn-l-red.png) no-repeat;
}
.btn-large-red:hover{
	color: #ffffff;
	background:url(../images/btn-l-red-active.png) no-repeat;
}
}
.button-s{
	height: 38px;
	width: 88px;
}
.button-m-adp{
	height: 40px;
	width: 140px;
}
@media (max-width: 625px) {.button-m-adp{width: 290px;}}
.button-x{
	
}
.area-x{
	border: 1px solid #a0a0a0;
	background: #ffffff;
	color: #565656;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	border-radius: 0px;
}

.area-x{
	height: 36px;
	width: 286px;
}
.select-s, .select-m, .select-l-adp{
	border: 1px solid #A0A0A0;
	background: #ffffff;
	color: #165945;
	line-height: 40px;
	text-align: center;	
}
.select-s{
	height: 40px;
	width: 90px;
}
.select-m{
	height: 40px;
	width: 140px;
}
.select-l-adp{
	height: 40px;
	width: 190px;
}
@media (max-width: 625px) {.select-l-adp{width: 300px; margin: 5px 0px 5px 0px;}}

.text-s{
	width: 90px; 
	display: block;
	height: 40px;
	margin: 5px;
	line-height: 40px;
	text-align: center;}
.text-x{
	width: 290px;
	display: block;
	height: 40px;
	margin: 5px;
	line-height: 40px;
	text-align: center;
}
.text-m{
	width: 140px;
	display: block;
	height: 20px;
	margin: 5px;
	line-height: 20px;
	text-align: center;
}


